<%- include("header.ejs") -%>
  <body>
    <div class=box id=heading>
      <h1 >About</h1>
    </div>
    <div class="box">
        <p>The perfect place to tell you about our great product</p>
    </div>
<%- include("footer.ejs") -%>
